<div class="sidebar-body">
    <ul class="nav">
        <li class="nav-item nav-category">Content</li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="navigation"></i>
                <span class="link-title">Navigation</span>
            </a>
        </li>
        <li class="nav-item nav-category">Phrases</li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="type"></i>
                <span class="link-title">Phrases</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="list"></i>
                <span class="link-title">Phrase Groups</span>
            </a>
        </li>
        <li class="nav-item nav-category">System</li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="sliders"></i>
                <span class="link-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="globe"></i>
                <span class="link-title">Languages</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="users"></i>
                <span class="link-title">Administrators</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="clock"></i>
                <span class="link-title">Action Logs</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="link-icon" data-feather="alert-triangle"></i>
                <span class="link-title">System Logs</span>
            </a>
        </li>
    </ul>
</div>