<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generic - Control Panel</title>

    <link rel="stylesheet" href="~/assets/css/core.css">
    <link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css">
</head>
<body class="sidebar-dark">
    <div class="main-wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="" class="sidebar-brand">
                    G<span>eneric</span>
                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <partial name="~/Views/_Partials/_NavigationPartial.cshtml" />
        </nav>
        <div class="page-wrapper">
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">
                    <ul class="navbar-nav">
                        <partial name="~/Views/_Partials/_LanguageSwitcher.cshtml" />
                        @*<partial name="~/Views/_Partials/_HeaderMessagesPartial.cshtml" />*@
                        <partial name="~/Views/_Partials/_HeaderUserPartial.cshtml" />
                    </ul>
                </div>
            </nav>

            <div class="page-content">
                @RenderBody()
            </div>

            <partial name="~/Views/_Partials/_FooterPartial.cshtml" />
        </div>
    </div>

    <script src="~/assets/js/core.js"></script>
    <script src="~/assets/fonts/feather-font/js/feather.min.js"></script>
    <script src="~/assets/js/template.js"></script>
</body>
</html>